

</br></br>

Search legislators by name:
<%= form_tag search1_path, method: :get do %>
<p>
	<%= text_field_tag :search, params[:search], size: 35, placeholder: "you can use name" %> 
	<%= submit_tag "Search Legislators", :name => nil  %>
</p>
<% end %>





</br></br>

<h1>Legislators</h1>(<%= link_to 'Create new', new_legislator_path %>)
<table class="table table-bordered">
	<thead>
		<tr>
			<th>MLA Name </th>
			<th>age </th>
			<th>Show Details</th>
			<th>Edit Details</th>
		</tr>
	</thead>
	<tbody>

		<% @legislators.each do |f| %>
		<tr>
			<td><%= f.name %></td>
			<td><%= f.age %></td>
			<td><%= link_to ' Show  ', legislator_path(f) %></td>
			<td><%= link_to ' Edit ', edit_legislator_path(f) %></td>
		</tr>
		<% end %>
	</tbody>
</table>







</br></br>






