

<p> MLA: <%= @legi.name %> </p>
<p> Age : <%= @legi.age %> </p>
<p> Constituency : <%= @legi.constituency.name %> </p>
<p> District : <%= @legi.constituency.district %> </p>
<p> State : <%= @legi.constituency.state %> </p>



</br></br>

<%= link_to 'Home', legislators_path %>
